modules = ["python-3.12"]
run = "streamlit run IAAM_PREDICTOR.py --server.address 0.0.0.0 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false"

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "tesseract"]

[deployment]
run = ["sh", "-c", "streamlit run IAAM_PREDICTOR.py --server.address 0.0.0.0 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false"]

[workflows]
runButton = "Run IAAM Predictor"

[[workflows.workflow]]
name = "Run IAAM Predictor"
author = 46324360
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run IAAM_PREDICTOR.py --server.address 0.0.0.0 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false"

[[ports]]
localPort = 8501
externalPort = 80
